---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);


// Variables
$base-font-family: "Source Sans Pro", serif;
$nav-height: 60px;

// Images
$img-stars: "../images/bg-stars.jpg";
$img-work: "../images/work.jpg";

// Colors
$blue: #0AC5E6;
$black: #383D41;
$white: #FFFFFF;
$light-grey: #EEEEEE;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "helper";
@import "base";