@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);
/* Font Family
 ========================================================================== */
.font-family-regular a,
.font-family-regular ul li a,
.font-family-regular {
  font-family: "Source Sans Pro", sans-serif; }

.font-family-light,
.font-family-light h1,
.font-family-light p,
.font-family-light a {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 200 !important; }

/* Font Size
 ========================================================================== */
.font-size-big {
  font-size: 40px; }

.font-size-medium {
  font-size: 30px; }

.font-size-regular {
  font-size: 20px; }

.font-size-small {
  font-size: 10px; }

/* Font Weight
 ========================================================================== */
.font-weight-400 {
  font-weight: 400; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-200 {
  font-weight: 200; }

.font-weight-100 {
  font-weight: 100; }

/* Font Colors
 ========================================================================== */
.font-color-blue {
  color: #00A8E6; }

.font-color-white,
.font-color-white h1,
.font-color-white h2,
.font-color-white h3,
.font-color-white h4,
.font-color-white a,
h1.font-color-white,
h2.font-color-white,
h3.font-color-white,
h4.font-color-white {
  color: #FFFFFF !important; }

/* Font Effects
 ========================================================================== */
.uppercase {
  text-transform: uppercase; }

/* Margins
 ========================================================================== */
.m-t-60 {
  margin-top: 60px; }

.m-t-50 {
  margin-top: 50px !important; }

.m-t-100 {
  margin-top: 100px !important; }

.m-t-150 {
  margin-top: 150px !important; }

.m-b-100 {
  margin-bottom: 100px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-0 {
  margin: 0; }

/* Backgrounds
 ========================================================================== */
.bg-black {
  background: #383D41; }

.bg-blue {
  background: #00A8E6;
  background-color: #00A8E6; }

.bg-red {
  background: #E46F67;
  background-color: #E46F67; }

.bg-green {
  background: #50CCA9;
  background-color: #50CCA9; }

.bg-dark-green {
  background: #4BA289;
  background-color: #4BA289; }

.bg-stars {
  background: url("../images/bg-stars.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.bg-work {
  height: 40%;
  background-image: url("../images/work.jpg"); }

.bg-skill {
  height: 40%;
  background-image: url("../images/skill.jpg"); }

.bg-mail {
  height: 40%;
  background-image: url("../images/mail.jpg"); }

.bg-projects {
  height: 40%;
  background-image: url("../images/projects.jpg"); }

.bg-light-grey {
  background-color: #D9E0E7; }

.bg-dark-red {
  background: #B65C56;
  background-color: #B65C56; }

/* Overlays 
 ========================================================================== */
.blue-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(70, 141, 164, 0.5);
  z-index: 99; }

/* Lists
 ========================================================================== */
.inline-list li {
  display: inline; }

ul.inline-list {
  list-style-type: none; }

ul.list-m-20 li {
  margin: 20px; }

/* Padding
 ========================================================================== */
.p-t-100 {
  padding-top: 100px; }

.p-b-100 {
  padding-bottom: 100px; }

.p-t-50 {
  padding-top: 50px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-b-50 {
  padding-bottom: 50px !important; }

.p-50 {
  padding: 50px !important; }

.p-0 {
  padding: 0px !important; }

.p-5 {
  padding: 5px !important; }

.p-20 {
  padding: 20px !important; }

.p-10 {
  padding: 10px !important; }

.p-lr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

/* Line Height
 ========================================================================== */
.l-h-50 {
  line-height: 50px; }

/* Filters
 ========================================================================== */
.filter-grey {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.filter-grey:hover {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
  -webkit-transition: filter 0.3s ease;
  -moz-transition: filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  -webkit-transition: -webkit-filter 0.3s ease;
  -moz-transition: -webkit-filter 0.3s ease;
  -o-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease; }

/* Height
 ========================================================================== */
.height-50 {
  height: 50px; }

.height-70 {
  height: 70px; }

.height-400 {
  height: 400px !important; }

/* Display
 ========================================================================== */
.display-none {
  display: none; }

.display-block {
  display: block; }

body, h1, h2, h3, h4, h5, h6,
.uk-navbar-nav > li > a {
  font-family: "Source Sans Pro", sans-serif; }

a {
  color: #383D41; }

a:hover {
  color: #00A8E6; }

.uk-navbar-nav > li.uk-active > a,
.uk-navbar-nav > li > a:hover {
  background-color: transparent;
  border-bottom: 3px solid #00A8E6; }

/* Base
 ========================================================================== */
html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Layout
 ========================================================================== */
.kr-background {
  background: #00A8E6; }

/*
 * Blocks
 */
.kr-middle,
.kr-section,
.kr-footer {
  padding: 50px 0;
  height: 100%; }

/* Tablet and bigger */
@media (min-width: 768px) {
  .kr-middle,
  .kr-section,
  .kr-footer {
    padding: 90px 0; } }
/* Large screen and bigger */
@media (min-width: 1220px) {
  .kr-middle,
  .kr-section,
  .kr-footer {
    padding: 120px 0; } }
.uk-navbar-nav > li > a,
.uk-navbar-content {
  height: 60px;
  padding: 0 15px;
  line-height: 60px; }

a:hover {
  text-decoration: none; }

/* Travel Stats
 ========================================================================== */
.hi-icon-wrap {
  text-align: center;
  margin: 0 auto 20px; }

.hi-icon {
  font-size: 20px;
  cursor: pointer;
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 50px;
  font-weight: 500; }

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.hi-icon:before {
  font-family: 'ecoicon';
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased; }

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s; }

.hi-icon-effect-1 .hi-icon:after {
  top: -3px;
  left: -3px;
  padding: 3px;
  box-shadow: 0 0 0 2px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0; }

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
  background: white;
  color: #50CCA9; }

.hi-icon-effect-1a .hi-icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/* Timeline
 ========================================================================== */
.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative; }

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: #2d353c;
  left: 20%;
  margin-left: -2.5px; }

.timeline > li {
  position: relative;
  min-height: 50px; }

.timeline > li + li {
  margin-top: 40px; }

.timeline .timeline-time {
  position: absolute;
  left: 0;
  width: 15%;
  text-align: right;
  padding-top: 7px; }

.timeline .timeline-time .date,
.timeline .timeline-time .time {
  display: block; }

.timeline .timeline-time .date {
  line-height: 18px;
  font-size: 14px; }

.timeline .timeline-time .time {
  line-height: 28px;
  font-size: 24px;
  color: #242a30; }

.timeline .timeline-time .date-only {
  line-height: 50px;
  font-size: 24px;
  color: #242a30; }

.timeline .timeline-icon {
  left: 15%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 5px; }

.timeline .timeline-icon a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #575d63;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  border: 5px solid #2d353c;
  transition: background .2s linear;
  -moz-transition: background .2s linear;
  -webkit-transition: background .2s linear; }

.timeline .timeline-icon a:focus,
.timeline .timeline-icon a:hover {
  background: #00A8E6; }

.timeline .timeline-body {
  margin-left: 25%;
  margin-right: 15%;
  background: #fff;
  position: relative;
  padding: 20px 30px; }

.timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px; }

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 20px; }

.timeline-header div.timeline-header-company-logo img {
  margin: 0px auto 10px auto; }

.timeline-header .username {
  font-size: 16px;
  font-weight: 600; }

.timeline-header .username,
.timeline-header .username a {
  color: #00acac; }

.timeline img {
  max-width: 100%;
  display: block; }

.timeline-content {
  font-size: 14px; }

.timeline-content + .timeline-footer,
.timeline-header + .timeline-content,
.timeline-header + .timeline-footer {
  margin-top: 20px; }

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both; }

.timeline-title {
  margin-top: 0; }

.timeline-footer {
  margin: -20px -30px;
  padding: 20px 30px;
  background: #e8ecf1;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.timeline-footer a:not(.btn) {
  color: #575d63; }

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
  color: #2d353c; }

/* Floating Nav
 ========================================================================== */
div.floating-nav {
  width: 100px;
  position: fixed;
  right: 0;
  z-index: 1000;
  bottom: 0;
  margin-bottom: 300px; }

.uk-navbar-toggle.uk-visible-small {
  padding-left: 0; }

/* Responsive
 ========================================================================== */
@media (min-width: 1220px) {
  .uk-height-viewport {
    height: auto !important; }

  div#contact-form.uk-height-viewport {
    height: 90vh !important; } }
@media (max-width: 768px) {
  .timeline .timeline-body {
    margin-left: 27%; }

  div#profile.uk-height-viewport {
    height: 100vh !important; }

  .uk-height-viewport {
    height: auto !important; }

  .timeline .timeline-body {
    margin-left: 27%;
    margin-right: 3%; } }
@media (max-width: 800px) {
  div#profile.uk-height-viewport {
    height: auto !important; }

  .uk-height-viewport {
    height: auto !important; }

  .timeline .timeline-body {
    margin-left: 27%; } }
@media (max-width: 640px) {
  .timeline .timeline-body {
    margin-left: 28%;
    margin-right: 0px; }

  .timeline .timeline-time .date-only,
  .timeline .timeline-time .time {
    font-size: 18px;
    margin-right: 10px; }

  .timeline .timeline-time .date-only,
  .timeline .timeline-time .date {
    margin-right: 10px; } }
@media (max-width: 600px) {
  div#profile.uk-height-viewport {
    height: auto !important; }

  .uk-height-viewport {
    height: auto !important; }

  div.floating-nav {
    display: none; }

  .timeline .timeline-icon,
  .timeline .timeline-time {
    display: none; }

  .timeline .timeline-body:before,
  .timeline:before {
    content: none; }

  .timeline .timeline-body {
    margin-left: 0px;
    margin-right: 0px;
    text-align: left; }

  .timeline-header div.timeline-header-company-logo img {
    margin-left: 0px; } }
