@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);
/* Font Family
 ========================================================================== */
.font-family-regular a,
.font-family-regular ul li a,
.font-family-regular {
  font-family: "Source Sans Pro", serif; }

.font-family-light {
  font-family: "Source Sans Pro", serif;
  font-weight: 200; }

/* Font Size
 ========================================================================== */
.font-size-big {
  font-size: 40px; }

.font-size-medium {
  font-size: 30px; }

.font-size-regular {
  font-size: 20px; }

.font-size-small {
  font-size: 10px; }

/* Font Weight
 ========================================================================== */
.font-weight-400 {
  font-weight: 400; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-200 {
  font-weight: 200; }

/* Font Colors
 ========================================================================== */
.font-color-blue {
  color: #0AC5E6; }

.font-color-white {
  color: #FFFFFF; }

/* Font Effects
 ========================================================================== */
.uppercase {
  text-transform: uppercase; }

/* Margins
 ========================================================================== */
.m-t-60 {
  margin-top: 60px; }

.m-t-100 {
  margin-top: 100px; }

.m-0 {
  margin: 0; }

/* Backgrounds
 ========================================================================== */
.bg-black {
  background: #383D41; }

.bg-blue {
  background: #0AC5E6;
  background-color: #0AC5E6; }

.bg-stars {
  background: url("../images/bg-stars.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.bg-work {
  height: 40%;
  background-image: url("../images/work.jpg"); }

/* Overlays 
 ========================================================================== */
.blue-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(70, 141, 164, 0.5);
  z-index: 99; }

/* Lists
 ========================================================================== */
.inline-list li {
  display: inline; }

ul.inline-list {
  list-style-type: none; }

ul.list-m-20 li {
  margin: 20px; }

body, h1, h2, h3, h4, h5, h6,
.uk-navbar-nav > li > a {
  font-family: "Source Sans Pro", serif; }

a {
  color: #383D41; }

a:hover {
  color: #0AC5E6; }

.uk-navbar-nav > li.uk-active > a,
.uk-navbar-nav > li > a:hover {
  background-color: transparent;
  border-bottom: 3px solid #0AC5E6; }

/* Base
 ========================================================================== */
html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Layout
 ========================================================================== */
.kr-background {
  background: #0AC5E6; }

/*
 * Blocks
 */
.kr-middle,
.kr-section,
.kr-footer {
  padding: 50px 0;
  height: 100%; }

/* Tablet and bigger */
@media (min-width: 768px) {
  .kr-middle,
  .kr-section,
  .kr-footer {
    padding: 90px 0; } }
/* Large screen and bigger */
@media (min-width: 1220px) {
  .kr-middle,
  .kr-section,
  .kr-footer {
    padding: 120px 0; } }
.uk-navbar-nav > li > a,
.uk-navbar-content {
  height: 60px;
  padding: 0 15px;
  line-height: 60px; }

a:hover {
  text-decoration: none; }

/* Timeline
 ========================================================================== */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #EEEEEE;
  left: 50%; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 42%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative; }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: solid #EEEEEE 3px; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }
