---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);

// Variables
$base-font-family: "Source Sans Pro", sans-serif;
$nav-height: 60px;

// Images
$img-stars: "../images/bg-stars.jpg";
$img-work: "../images/work.jpg";
$img-skill: "../images/skill.jpg";
$img-projects: "../images/projects.jpg";

// Colors
$blue: #00A8E6;
$black: #383D41;
$white: #FFFFFF;
$red: #E46F67;
$light-grey: #D9E0E7;
$green: #50CCA9;

$font-size-regular: 20px;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "helper";
@import "base";