<!--
<span class="font-regular"> {{ site.title }} </span>
{{ site.email }}
{{ site.github_username }}
-->

<div class="bg-black font-color-white">
    <div class="uk-container uk-container-center uk-text-center p-t-50 p-b-50">

        <ul class="uk-subnav uk-subnav-line uk-flex-center">
            <li><a href="https://github.com/kreighza/kreighza.github.io">GitHub</a></li>
        </ul>

        <div class="uk-panel">
            <p>Made by <a href="#"> {{ site.title }} </a></p>
        </div>

    </div>
</div>
    
