<div class="uk-width-1-1 bg-black font-color-white">
    <div class="uk-container uk-container-center uk-text-center p-t-50 p-b-50 font-weight-100">
        
        <ul class="uk-list uk-flex-center">
            <li>Image Credits</li>
            {% for img in site.photo_credits %}
                <li><a href="{{ img.source }}">{{ img.author }}</a></li>
            {% endfor %}
        </ul>
        
        <div class="uk-panel">
            <p>Made by <a href="https://github.com/kreighza/kreighza.github.io/tree/gh-pages"> {{ site.title }} </a></p>
        </div>

    </div>
</div>
    
