<nav class="uk-sticky-placeholder uk-navbar font-family-regular">

    <div class="uk-container uk-container-center">
        <ul class="uk-navbar-nav uk-hidden-small">
        <li class="uk-active"><a href="/index.html" >Profile</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/blog.html">Contact me</a></li>
        </ul>

        <a href="#offcanvas-1" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
        <div class="uk-navbar-content uk-navbar-center ">
        <a href="/index.html" class="font-family-regular font-color-blue">KR</a>
        </div>
    </div>
    

</nav>