<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/assets/uikit/css/components/dotnav.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/uikit/css/components/tooltip.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/uikit/css/components/slideshow.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/uikit/css/components/slidenav.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/uikit/css/uikit.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/jqvmap/dist/jqvmap.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    
    <script src="/assets/jquery/dist/jquery.js"></script>
    <script src="/assets/uikit/js/uikit.min.js"></script>
    <script src="/assets/uikit/js/components/sticky.js"></script>
    <script src="/assets/uikit/js/components/tooltip.js"></script>
    <script src="/assets/uikit/js/components/lightbox.js"></script>
    <script src="/assets/uikit/js/components/slideshow.js"></script>
    <script src="/assets/uikit/js/core/core.min.js"></script>
    <script src="/assets/uikit/js/core/utility.js"></script>
    <script src="/assets/uikit/js/core/nav.min.js"></script>
    <script src="/assets/uikit/js/core/grid.min.js"></script>
    <script src="/assets/uikit/js/core/modal.js"></script>
    <script src="/assets/uikit/js/core/alert.js"></script>
    <script src="/assets/uikit/js/core/smooth-scroll.min.js"></script>

    <script src="/assets/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/assets/jqvmap/dist/maps/jquery.vmap.world.js"></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>