body, h1, h2, h3, h4, h5, h6,
.uk-navbar-nav > li > a { font-family: $base-font-family; }

a { color: $black;}
a:hover { color: $blue;}

.uk-navbar-nav>li.uk-active>a,
.uk-navbar-nav>li>a:hover{
    background-color: transparent;
    border-bottom: 3px solid $blue;
}

/* Base
 ========================================================================== */

html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Layout
 ========================================================================== */

.kr-background { background: $blue; }

/*
 * Blocks
 */

.kr-middle,
.kr-section,
.kr-footer { 
    padding: 50px 0; 
    height: 100%;
}



/* Tablet and bigger */
@media (min-width: 768px) {

    .kr-middle,
    .kr-section,
    .kr-footer { padding: 90px 0; }

}

/* Large screen and bigger */
@media (min-width: 1220px) {

    .kr-middle,
    .kr-section,
    .kr-footer { padding: 120px 0; }

}


.uk-navbar-nav > li > a,
.uk-navbar-content{
    height: $nav-height;
    padding: 0 15px;
    line-height: $nav-height;
}

a:hover {
    text-decoration: none;
}

