.font-family-regular a, 
.font-family-regular ul li a, 
.font-family-regular {
    font-family: $base-font-family;
}

.font-family-light {
    font-family: $base-font-family;
    font-weight: 200;
}

.font-size-big {
    font-size: 40pt;
}

.m-t-60 {
    margin-top: $nav-height;
}