/* Font Family
 ========================================================================== */

.font-family-regular a, 
.font-family-regular ul li a, 
.font-family-regular {
    font-family: $base-font-family;
}

.font-family-light {
    font-family: $base-font-family;
    font-weight: 200;
}

/* Font Size
 ========================================================================== */

.font-size-big {
    font-size: 40px;
}

.font-size-medium {
    font-size: 30px;
}

.font-size-regular {
    font-size: 20px;
}

.font-size-small {
    font-size: 10px;
}

/* Font Weight
 ========================================================================== */
.font-weight-400 {
    font-weight: 400;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-200 {
    font-weight: 200;
}

/* Font Colors
 ========================================================================== */
.font-color-blue {
    color: $blue;   
}

.font-color-white,
.font-color-white a, {
    color: $white !important;
}

/* Font Effects
 ========================================================================== */

.uppercase {
    text-transform: uppercase;
}


/* Margins
 ========================================================================== */
.m-t-60 {
    margin-top: $nav-height;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-t-150 {
    margin-top: 150px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.m-0 {
    margin: 0;
}

/* Backgrounds
 ========================================================================== */
.bg-black {
    background: $black;
}

.bg-blue {
    background: $blue;
    background-color: $blue;
}

.bg-stars {
    background: url($img-stars);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg-work {
    height: 40%; 
    background-image: url($img-work);
}

.bg-skill {
    height: 40%; 
    background-image: url($img-skill);
}

.bg-projects {
    height: 40%; 
    background-image: url($img-projects);
}

.bg-light-grey {
    background-color: $light-grey;
}

/* Overlays 
 ========================================================================== */
.blue-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(70,141,164,.5);
    z-index: 99;
}

/* Lists
 ========================================================================== */
.inline-list li {
    display: inline;
}

ul.inline-list {
    list-style-type: none;
}

ul.list-m-20 li {
    margin: 20px;
}

/* Padding
 ========================================================================== */
.p-t-100 {
    padding-top: 100px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}


/* Line Height
 ========================================================================== */
.l-h-50 {
    line-height: 50px;
}

/* Filters
 ========================================================================== */
.filter-grey {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.filter-grey:hover {
    -webkit-filter: grayscale(30%);
	filter: grayscale(30%);
    
    -webkit-transition: filter 100ms ease-out 1s;
    -moz-transition: filter 100ms ease-out 1s;
    -o-transition: filter 100ms ease-out 1s;
    transition: filter 100ms ease-out 1s;
    
    -webkit-transition: -webkit-filter 100ms ease-out 1s;
    -moz-transition: -webkit-filter 100ms ease-out 1s;
    -o-transition: -webkit-filter 100ms ease-out 1s;
    transition: -webkit-filter 100ms ease-out 1s;
}

/* Height
 ========================================================================== */
.height-50 {
    height: 50px;
}

.height-70 {
    height: 70px;
}

.height-400 {
    height: 400px !important;
}